<!DOCTYPE HTML>
<html>
	<head>
	<title>Cosmix website</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
	<style>
		.product-entry {
  position: relative;
}

.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}

.wishlist-btn:hover {
  background: rgba(255, 0, 0, 0.8);
}

.wishlist-btn .fa-heart {
  color: black;
  font-size: 16px;
}

.wishlist-btn:hover .fa-heart {
  color: #fff;
}

.addCart-btn{
	background-color: black; 
	color: white; 
	padding: 5px;
	 border-radius: 9px;
}
	</style>

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<%- include("../../views/partials/user/header.ejs")%>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span>My Wishlist</span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="colorlib-product"></div>
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
						<h2>MY WISHLIST</h2>
					</div>
				</div>
				<div class="row row-pb-md">
				
					<% if (products.length > 0) { %>
						<% products.forEach(product => { %>

					<div class="col-lg-3 mb-4 text-center">
						<div class="product-entry border">
							<button class="wishlist-btn position-absolute" data-product-id="<%= product._id %>" onclick="RemoveWishlist('<%= product._id %>', this)">
								<i class="fa fa-heart"></i>
								</button
							<a href="/productdetails/<%= product._id %>" class="prod-img">
								<% if (product.productImage && product.productImage.length > 0) { %>
									<img src="/uploads/<%= product.productImage[0] %>" class="img-fluid" alt="<%= product.productName %>">
								  <% } else { %>
									<p>No Image</p>
								  <% } %>
							</a>
							<div class="desc">
								<h2><a href="/productdetails/<%= product._id %>"><%=product.productName%></a></h2>
								<span class="price">₹<%=product.salePrice%></span>
								<form action="/addCart" method="post">
									<input type="hidden" name="productId" value="<%= product._id %>">
									<input type="hidden" name="quantity" id="hiddenQuantity" value="1">
								<button class="addCart-btn"><i class="icon-shopping-cart"></i> Add to Cart </a></button>
								</form>
							</div>
						</div>
					</div>
					<%})%>
					<%}%>
					
					<div class="w-100"></div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p><a href="/shop" class="btn btn-primary btn-lg">Shop All Products</a></p>
					</div>
				</div>
			</div>
		</div>


		
        <%- include("../../views/partials/user/footer.ejs")%>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>



	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<Script>
		async function RemoveWishlist(productId, button) {
    try {
        const response = await fetch('/removeFromWishlist', {
            method: 'DELETE',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ productId }),
        });

        const result = await response.json();

        if (response.ok) {
            // Show SweetAlert notification
            Swal.fire({
                icon: 'success',
                title: 'Removed from Wishlist!',
                text: result.message,
                showConfirmButton: false,
                timer: 1500
            });

            // Find the nearest product entry and remove it from the UI
            const productElement = button.closest('.col-lg-3'); // Selects the parent column div
            if (productElement) {
                productElement.remove();
            }

        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: result.message,
                showConfirmButton: true
            });
        }
    } catch (error) {
        console.error('Error removing product from wishlist:', error);
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'An error occurred while removing the product from your wishlist.',
            showConfirmButton: true
        });
    }
}

	</Script>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
   <!-- popper -->
   <script src="js/popper.min.js"></script>
   <!-- bootstrap 4.1 -->
   <script src="js/bootstrap.min.js"></script>
   <!-- jQuery easing -->
   <script src="js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

